body{
    overflow-x: hidden;
}
#hideScrollBar::-webkit-scrollbar {
    display: none;
}
#hide-scrollbar {
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */
}